*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-blue: linear-gradient(50deg, #00458f, #004d9f, #00458f);
    --bg-body:#f1f1f1;
    --color-primary: aqua;
    --color-secondary: #00458f;
    --color-maroon:#cc2500;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 9em;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f1f1f1;
    padding: 1em;
    margin-top: 1em;
    padding-inline: 1.5em;
    border-radius: 1em;
}

/* BUTTON PICTURE THEME */
.toggle-btn{
    outline: 2px solid var(--color-secondary);
    color: var(--color-secondary);
    padding: 0;
    padding-inline: 0.2em;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.7em;
    /* outline: 2px solid rgb(225, 225, 225); */
}
/* .toggle-btn:hover{
    background: rgb(0, 206, 206);
} */
.toggle-btn:active{
    scale: 0.9;
}
.toggle-btn section{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    text-transform: capitalize;
    font-weight: 600;
}
/* Title-Nav */
.Title-Nav{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    color: var(--color-secondary);
    margin-top: -0.1em;
}
.Title-Nav i{
    font-size: 1.2em;
}

main {
    display: flex;
    justify-content: center;
}

header {
    background: var(--bg-blue);
    color: #fff;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 0.5em;
    margin-top: 7em;
    width: 30.5vw;
    height: 10vh;
    scale: 1.4;
}

header section {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

/* BG ARTICLE */
.bg-active {
    background: #000;
}

header section article {
    cursor: pointer;
    width: min-content;
    padding-inline: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    height: min-content;
    border-radius: 50%;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    text-align: center;
    transition: 0.2s;
    background: transparent;
    scale: 1.1;
}

header section article:hover {
    color: var(--color-primary);
}

header section article.active {
    background: white;
    color: var(--color-secondary);
    scale: 1.1;
    margin-top: -0.5em;
    z-index: 999;
    outline: 1px solid var(--color-secondary);
}

header section article.active::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 3.2vw;
    height: 7vh;
    /* border-top: 2px solid var(--color-secondary);
    border-left: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary); */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: -13.9px;
    z-index: -99999;
    animation: animate 0.2s normal forwards;
}

@keyframes animate {
    0% {
        margin-top: -2.5em;
    }

    100% {
    margin-top: -0.8em;
    }
}

/* ASIDE */
/* BG COLOR */
aside{
    width: max-content;
    padding: 1em;
    float: right;
    display: none;
}
aside div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 2em;
}
aside div:nth-child(2) section:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3em;
}
aside div:nth-child(2) section:nth-child(2) article{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
aside div:nth-child(2) section:nth-child(2) article span i{
     font-size: 2em;
     background: #fff;
     padding:0.3em;
     border-radius: 0.1em;
     outline: 1px solid rgb(217, 217, 217);
     cursor: pointer;
}
aside div:nth-child(2) section:nth-child(2)  article:nth-child(1) span:nth-child(1) i{
    color: blue;
}
aside div:nth-child(2) section:nth-child(2) article:nth-child(1) span:nth-child(2) i{
    color: aqua;
}
aside div:nth-child(2) section:nth-child(2)  article:nth-child(2) span:nth-child(1) i{
    color: #cc2500;
}
aside div:nth-child(2) section:nth-child(2) article:nth-child(2) span:nth-child(2) i{
    color: yellow;
}

aside div:nth-child(2) section:nth-child(2) article:nth-child(1) span:nth-child(1) i:hover{
    background: rgb(243, 243, 243);
    outline: 2px solid blue;
}
aside div:nth-child(2) section:nth-child(2) article:nth-child(1) span:nth-child(2) i:hover{
    background: rgb(243, 243, 243);
    outline: 2px solid aqua;
}
aside div:nth-child(2) section:nth-child(2)  article:nth-child(2) span:nth-child(1) i:hover{
    background: rgb(243, 243, 243);
    outline: 2px solid #cc2500;
}
aside div:nth-child(2) section:nth-child(2) article:nth-child(2) span:nth-child(2) i:hover{
    background: rgb(243, 243, 243);
    outline: 2px solid yellow;
}